h1 h2 h3 h4 {
    font-weight: 400;
}

.navbar {
    overflow: hidden;
    background-color: #FFF9F9;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #406882;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 150px;
    text-align: center;
    font-family: sans-serif;
}

.button a {
    font-size: 50px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: #DFD3C3;

}

.button a:hover {
    background-color: #F5F5F5;
}

.photo {
    border-radius: 6px;
    width: 150px;
    size: 50px;
    margin: 16px 0;
}

.main p {
    font-size: 20px;
    text-align: center;
}

.well {
    border: 1px solid #eee;
    padding: 20px;
    background: #fafafa;
    border-radius: 6px;
    margin-bottom: 20px;
}

.wellme {
    margin-top: 150px;
    text-align: center;
    border: 1px solid #eee;
    padding: 20px;
    background: #fafafa;
    border-radius: 6px;
    margin-bottom: 20px;
}


.profile {
    margin-bottom: 15px;
}

.ig {
    text-align: center;
    text-decoration: none;
    color: #516BEB;
}

.ig a:hover {
    background-color: red;
    color: red;
}

.footer {
    clear: both;
    background: #fafafa;
    color: black;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}